/* Navbar */

.navbar {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.navbar-brand img {
  width: 150px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  background-color: var(--dark)!important;
}

.dropdown-menu li>a {
  color: white;
  font-weight: bold;
}

.navbar-text .btn,
.carousel-caption .btn {
  background-color: var(--red);
  font-weight: bold;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navbar-text .btn:hover {
  background-color: var(--dark);
}

.navbar-text a .fa-brands {
  margin-left: 10px;
  color: var(--red);
}

.navbar-text a .fa-facebook {
  color: #4267B2;
}

.navbar-text a .fa-instagram {
  color: #ff0066;
}

/* Navbar */
/* colors */
:root {
  --dark: #231f20;
  --red: #ed1c24;
}

/* colors */
body {
  overflow-x: hidden;
}
p{
  font-size: 1.5rem;
  font-weight: 500;
}

/* Button */
a.btn{
  font-size: 1.25rem;
  background-color: var(--red);
  font-weight: 700;
  outline: none;
  border: none;
  transition: .5s;
}
a.btn:hover{
  background-color: var(--dark);
  outline: none;
  border: none;
  box-shadow: 1px 1px 10px var(--red);
}
.btn.btn-danger,
.btn.btn-secondary{
  color: white;

}

/* Header */
.carousel-caption{
  top: 0;
  left: 0!important;
  right: 0!important;
  bottom: 0!important;
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, rgba(255, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
  z-index: 1;
  
}
.carousel-control-prev,
.carousel-control-next{
  width: 5%!important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
  width: 2rem!important;
  height: 3rem!important;
  background-color: var(--red);
  transition: .1s;
}
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover{
  background-color: var(--dark)!important;
  box-shadow: 1px 1px 10px var(--red);
}