/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* font-family: 'Poppins', sans-serif; */

/* colors */
:root{
    --dark:#231f20;
    --red:#ed1c24;
}
/* colors */



/* Navbar */

.navbar{
    font-family: 'Poppins', sans-serif; 
    font-weight: 500;
}
.navbar-brand img{
    width: 150px;
}

.dropdown:hover .dropdown-menu {
    display: block;
  }
  .dropdown-menu{
    background-color:var(--dark);
  }
  .dropdown-menu li>a{
    color: white;
    font-weight: bold;
  }
  .navbar-text a .fa-brands{
    margin-left: 10px;
    color: var(--red);
  }
  .navbar-text a .fa-facebook{
    color: #4267B2;
  }
  .navbar-text a .fa-instagram{
    color: #ff0066;
  }
  /* Navbar */

  /* Carousel */
  .carousel-item{
    height: 600px;
    background: linear-gradient(to right, blue,pink);
  }
  .carousel-caption{
    bottom: 120px;
    z-index: 2;  
}
.carousel-caption p{
    font-size: 25px;
}
.carousel-caption p>a{
    font-weight: bold;
}
.carousel-caption h5{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
}
.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0,.7);
    z-index: 1;
}
.carousel-control-prev,.carousel-control-next{
    margin: 0;
    padding: 0;
}


  /* Carousel */